@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);


#dropdown-menu-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7 .nav .link,
#dropdown-menu-7 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-7 .navbar,
#dropdown-menu-7 .dropdown-menu {
  background: #282727;
}
#dropdown-menu-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7 .dropdown-menu a:hover,
#dropdown-menu-7 .dropdown-menu a:focus {
  background: #1e1d1d;
}
#dropdown-menu-7 .navbar-toggler {
  color: #ffffff;
}
#slider-8 P {
  font-size: 32px;
  font-family: 'Arimo', sans-serif;
}
#slider-8 H1 {
  font-size: 48px;
}
#footer1-o P {
  font-size: 15px;
}

#dropdown-menu-22 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-22 .nav .link,
#dropdown-menu-22 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-22 .navbar,
#dropdown-menu-22 .dropdown-menu {
  background: #282727;
}
#dropdown-menu-22 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-22 .dropdown-menu a:hover,
#dropdown-menu-22 .dropdown-menu a:focus {
  background: #1e1d1d;
}
#dropdown-menu-22 .navbar-toggler {
  color: #ffffff;
}
#msg-box3-3e .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#msg-box3-3e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#gallery1-3f P {
  text-align: left;
  font-size: 14px;
}
#footer1-29 P {
  font-size: 15px;
}

#dropdown-menu-2a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2a .nav .link,
#dropdown-menu-2a .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2a .navbar,
#dropdown-menu-2a .dropdown-menu {
  background: #282727;
}
#dropdown-menu-2a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2a .dropdown-menu a:hover,
#dropdown-menu-2a .dropdown-menu a:focus {
  background: #1e1d1d;
}
#dropdown-menu-2a .navbar-toggler {
  color: #ffffff;
}
#content5-3j .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3j .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3j .mbr-article {
  color: #fff;
}
#content5-3k .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3k .mbr-article {
  color: #fff;
}
#footer1-2h P {
  font-size: 15px;
}

#dropdown-menu-2i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2i .nav .link,
#dropdown-menu-2i .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2i .navbar,
#dropdown-menu-2i .dropdown-menu {
  background: #282727;
}
#dropdown-menu-2i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2i .dropdown-menu a:hover,
#dropdown-menu-2i .dropdown-menu a:focus {
  background: #1e1d1d;
}
#dropdown-menu-2i .navbar-toggler {
  color: #ffffff;
}
#msg-box3-3m .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-3m .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3m .mbr-article P {
  color: #ffffff;
}
#footer1-2p P {
  font-size: 15px;
}

#dropdown-menu-2y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2y .nav .link,
#dropdown-menu-2y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-2y .navbar,
#dropdown-menu-2y .dropdown-menu {
  background: #282727;
}
#dropdown-menu-2y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2y .dropdown-menu a:hover,
#dropdown-menu-2y .dropdown-menu a:focus {
  background: #1e1d1d;
}
#dropdown-menu-2y .navbar-toggler {
  color: #ffffff;
}
#form1-4b .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#footer1-35 P {
  font-size: 15px;
}

#dropdown-menu-36 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-36 .nav .link,
#dropdown-menu-36 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-36 .navbar,
#dropdown-menu-36 .dropdown-menu {
  background: #282727;
}
#dropdown-menu-36 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-36 .dropdown-menu a:hover,
#dropdown-menu-36 .dropdown-menu a:focus {
  background: #1e1d1d;
}
#dropdown-menu-36 .navbar-toggler {
  color: #ffffff;
}
#pricing-table1-48 .mbr-plan__details {
  text-align: center;
}
#footer1-3d P {
  font-size: 15px;
}

#dropdown-menu-3y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3y .nav .link,
#dropdown-menu-3y .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-3y .navbar,
#dropdown-menu-3y .dropdown-menu {
  background: #282727;
}
#dropdown-menu-3y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3y .dropdown-menu a:hover,
#dropdown-menu-3y .dropdown-menu a:focus {
  background: #1e1d1d;
}
#dropdown-menu-3y .navbar-toggler {
  color: #ffffff;
}
#msg-box3-3z .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
#msg-box3-3z .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3z .mbr-article P {
  color: #ffffff;
  font-size: 20px;
}
#footer1-42 P {
  font-size: 15px;
}
